In [3]:
import pandas as pd
import numpy as np

In [14]:
#load data
data = pd.read_csv('spam.csv', sep=',', encoding='latin-1')
#preview data
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [15]:
#delete meaningless columns
data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)

In [16]:
#check if any missing values
data.isnull().sum()

v1    0
v2    0
dtype: int64

In [17]:
#preview data
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [21]:
#count by categories
data.groupby('v1').size()

v1
ham     4825
spam     747
dtype: int64

In [34]:
#data preprocessing
from string import punctuation
for item in list(punctuation):
    data['v2'] = data['v2'].lower().replace(item, '')
print(data['v2'])

AttributeError: 'Series' object has no attribute 'lower'

In [ ]:
#word count

In [ ]:
#char count

In [ ]:
#word frequency